 html
{
    font-family:'Raleway';
}
 
h1
{
    font-weight:bolder ;
    font-size: medium;
}
h2
{
    font-size: 18px;
    font-weight: boldER;
    margin-left: 20px;
}
h3
{
    font-size: 18px;
    font-weight: boldER;
    margin-left: 45px; 
}
h4
{
    font-size: 16px;
    font-weight: bold;
    margin-top :0%;
}
p
{
     font-size: 14px;   
}
.titre_principal
{
    margin-left: 40px;
}
.villenature
{
    font-size: 18px;
}
#conteneur
{
display:flex;
justify-content: space-between;
padding-bottom: 12px;
} 
.nav-list  
{  
    list-style-type : none;  
    margin-right: 50px;
} 
.nav-list a {
text-decoration: none;
padding-left: 20px;
}
.accueil
{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    width:70%; 
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
}
#formulaire
{
    display: flex ;
    height: 50px;
    justify-content:center ;
    width: 81%;
    margin-bottom: 30px;
}
.iconegeo {
    height: 35px;
    width: 35px; 
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.boutonloupe
{
    display: none;
}
.rechercher
{
    height: 45px;
}
.geol
{
    height:45px;
}
/*filtre*/
 .marginfiltre
{ 
    margin-top: 20px;
    margin-bottom: 20px ;
    margin-left: 45px;
}
.conteneurfiltres
{
    justify-content: center;
}
.preference:hover
{
    color: white;
}
.preference2:hover
{
    color: white;
}
.ensemble
{
    display: none;
}
.ensemble2
{
    display: flex;
}
/*hebergement*/
 
.foto
{
width:100%;
}
 
.titre
{
    margin-top :-15px; 
    width: 25%;
    border-radius: 0px 0px 15px 15px;
    font-size: 16px;
    font-weight: bold;
}
#section2 {
    flex-direction: column  ;
    background-color: white;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
} 
#Hebergements
{
    margin-left: 15px; 
    margin-right: 10px;  
}
.section3
{
    justify-content: center;
    width:90%;
    margin-right:0px;
    padding-left:0px;
    margin-bottom: 18px;
    margin-left: 30px;
}
.afficher
 {
     margin-top: -18px;
 }
 /*populaire*/
.mieux
{
    width: 48%;
    height: 121px;
    padding-right: 4px;
    border: 3px white solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
.best
 {
    flex-direction: column;  
    width:48%;
     justify-content: flex-start;
     flex-wrap: nowrap;
 }
.meilleureschambres
{
    border: 3px white solid;
    background-color: white;
    border-bottom: 3px white solid;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 30px;
    width: 150%;
    height: 125px;
    margin-left: 10px;
}
aside
{
    background-color:#DEEBFF ;
    border-radius: 10px 10px 10px 10px;
    width: 98%;
    height:250px ;
   padding-left: 15px;
   padding-right: 0px;
   margin-right:-10px;

}
.essailongueur
{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 95%;
}
#popu
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px ;
    color:#0065FC ;
}
.graph
{
    font-size: large;
    margin-left: 25px;
    margin-top: 15px;
}
.comment  
{
    background-color: white;
    width:40%;
}
.nuit
{
    margin-top: -15px;
}
.prix
{
    font-size: 13px;
}

.ajuste
{
    font-size: 14px ;
    margin-left: 3px;
} 
#Activites
{
    display: flex;
    margin-left: 45px;
    margin-bottom: 35px;
}
#basdepage
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:#F2F2F2; 
    position: absolute;
    margin-top: 30px;
    left:0px;
    right: 0px; 
}
.pied li 
{
    list-style-type: none;  
}

