html
{
    font-family:'Raleway';
}
 
h1
{
    font-weight:bolder ;
    font-size: medium;
}
h2
{
    font-size: 18px;
    font-weight: boldER;
    margin-left: 20px;
}
h3
{
    font-size: 18px;
    font-weight: boldER;
    margin-left: 45px; 
}
h4
{
    font-size: 16px;
    font-weight: bold;
    margin-top :0%;
}
p
{
     font-size: 14px;   
}
header
{
    margin-left: 45px;
}
#conteneur
{
display:flex;
flex-wrap: wrap;
}
.logo
{
   width: 50%;
   min-height: 50%;
   padding-top: 5px;
}

.nav-list {
    display: flex;
}    
.nav-list li {
    list-style-type : none;  
    padding-left:20px ;
}
.nav-list a {
text-decoration: none;
}
#formulaire
{
    display: flex ;
    height: 90px;
}
.iconegeo {
    height: 45px;
    width:40px;
    font-size: 30px;
    text-align: justify;
    background-color:#F2F2F2 ;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
    padding-top: 10px;
}
.rechercher
{
    color:white;
    font-size: 16px; 
    height: 55px;
    width: 120%; 
    border-radius: 0px 10px 10px 0px ;
    border: 6px #065FFC solid; 
    background-color: #065FFC;
}
.geol{
    border:6px;
    border-top:#F2F2F2;
    border-bottom:#F2F2F2;
    border-left:#F2F2F2;
    height:55px;
    width: 200px;
    font-weight: bold;
    font-size: 16px;
}
#conteneurfiltres
{
    display:flex;
    height: 50px;
    width: 70%;
    justify-content: flex-start;
    margin-left: 30px;
    } 
.select 
{
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;
}
#conteneureco
{
    display:inline-block;
    height: 35px;
}
.conteneureco
{
    display:inline-block;
    height: 35px;
}
.preference
{
    height:35px;
    width: 120px;
    border-radius: 20px 20px 20px;
    text-align: center;
    padding-left: 33px ;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    border-color:#F2F2F2;
    background-color: white;
    border-left: none
     }
.preference2
{
    height:35px;
    width: 150px;
    border-radius: 20px 20px 20px 0px;
    padding-left: 30px ;
    font-weight: bold;
    font-size: 16px;
    margin-left: 17px;
    border-color:#F2F2F2;
    background-color: white;
}
.choix{ 
    border-color:#F2F2F2;
    border-radius: 0px 20px 20px 0px;
    margin-right: 20px;
    height:50px; 
    background-color: white;
    position: relative;
}
.preference:hover
{
    background-color: rgb(51,75,153);
}
.preference2:hover
{
    background-color: rgb(51,75,153);
}
.icone{
    position: absolute;
    color: #065FFC ;
    font-size: 20px;
    text-align: center;
    border-radius: 50% ;
    background-color: #DEEBFF ;
    width:45px;
    height: 35px;
    padding-top :8px;
    margin-right: 2px;
      }
.info
{
    background-color: white;
    color: #065FFC ;
    margin-left: 45px;
}
.foto
{
height: 110px;
width:100%;
border-radius:15px 15px 0px 0px;
overflow: hidden;
object-fit: cover;
}
.photo
{ 
    border: 5px solid;
    border-color:white ;
    border-radius: 15px 15px 0px 0px;
    width: 30%;
    height:180px;
    margin-top: 5px;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
} 
.titre
{
    margin-top :-15px; 
    width: 25%;
    border-radius: 0px 0px 15px 15px;
    font-size: 16px;
    font-weight: bold;
}
#section2 {
    display: flex;
    margin-left: 45px;
    margin-top: 20px;
} 
#Hebergements
{
    display: flex;
    flex-wrap: wrap;
    width:98%;
    height:400px;
    background-color:#F2F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;   
}
.section3
{
    background-color:#F2F2F2 ;
    border-radius: 10px 10px 10px 10px;
    width:65%;
    margin-right: 50px;
    padding-left:15px;
}
.bleu
{   color: blue;
    font-size: x-small;
    margin:0%
}
.gris
{
    color: grey;
    font-size: x-small;
    margin: 0%;
}
.mieux
{
    width: 50%;
    height: 111px;
    padding-right: 4px;
    border: 3px white solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
article
 {
    flex-direction: column;  
    width:46%;
     justify-content: flex-start;
 }
.meilleureschambres
{
    display: flex ;
    justify-content: space-between;
    border: 3px white solid;
    background-color: white;
    border-bottom: 3px white solid;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 30px;
    width: 88%;
    height: 115px;
    margin-left: 5px;
}
aside
{
    background-color:#F2F2F2 ;
    border-radius: 10px 10px 10px 10px;
    width: 28%;
   height: 500px ;
   padding-left: 5px;
}
#popu
{
    display: flex;
    justify-content: space-between;
}
.graph
{
    font-size: large;
    margin-right: 25px;
    margin-top: 15px;
}
.comment 
{
    background-color: white;
    width:40%;
}

#group1,#group2
{
    width: 32%;
    height: 380px;
    margin-right: 30px;
    flex-direction: column;
    justify-content: space-between;
}
.bellevue
{
    border-radius: 10px 10px 10px 10px ;
    height: 380px;
    width:32%;
    margin-right: 30px;
    box-shadow: 3px 3px 3px #e9e4e4 ;
}
.gdefoto
{ 
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:340px;
    width :100%;
}
.moyennevue
{ 
    height:200px;
    width:100%;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    border-radius: 10px 10px 10px 10px ;
}
.moyennevuebis
{ 
    height:200px;
    width:100%;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    border-radius: 10px 10px 10px 10px ;
    margin-top: 20px;
}
.moyfoto
{
    height:160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
   object-fit: cover;
    width:100%; 
}
.petitevue
{
    border-radius: 20px 20px 20px 20px;
    height: 160px;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    width:100%;
}
.petitevuebis
{
    border-radius: 20px 20px 20px 20px;
    height: 160px;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    margin-top: 20px;
    width:100%;
}
.ptefoto
{
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    width:100%;
}
 
.legende
{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px; 
} 
.letop
{
   flex-direction: column;
font-size: 16px;
font-weight: bold;
margin-left: 20px;
margin-top: 20px; 
} 
#Activites
{
    display: flex;
    margin-left: 45px;
    margin-bottom: 35px;
}
#basdepage
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:#F2F2F2; 
    position: absolute;
    margin-top: 30px;
    left:0px;
    right: 0px; 
}
.pied li 
{
    list-style-type: none;  
}

