html
{
    font-family:'Raleway';
}
@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */
}
body
{
    margin-left: 45px;
}
h1
{
    font-weight:bolder ;
    font-size: medium;
}
h2
{
    font-size: 18px;
    font-weight: boldER;
    margin-left: 15px;
}
p
{
     font-size: 14px;   
}
.logo
{
   width: 50%;
   min-height: 50%;
   padding-top: 5px;
}
#conteneur
{
display:flex;
justify-content: space-between;
}
.nav-list {
    display: flex;
}    
.nav-list li {
    list-style-type : none;  
    padding-left:20px ;
}
.nav-list a {
text-decoration: none;
}
#formulaire
{
    display: flex ;
    height: 90px;
}
.iconegeo {
    height: 45px;
    width:40px;
    font-size: 30px;
    text-align: justify;
    background-color:#e9e4e4 ;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
    padding-top: 10px;
}
.rechercher
{
    color:white;
    font-size: 16px; 
    height: 55px;
    width: 120%; 
    border-radius: 0px 10px 10px 0px ;
    border: 6px #065FFC solid; 
    background-color: #065FFC;
}
.geol{
    border:6px;
    border-top:#a6a7a8;
    border-bottom:#a6a7a8;
    border-left:black;
    height:55px;
    width: 200px;
    font-weight: bold;
    font-size: 16px;
}
#conteneurfiltres
{
    font-weight: bold; 
    display:flex;
    height: 60px;
    justify-content: flex-start;
    } 
.filtres,.en_gras
{
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;

}
#conteneureco
{
    display:flex;
    height: 35px;
}
.preference
{
    height:35px;
    width: 120px;
    border-radius: 20px 20px 20px 0px;
    padding-left: 30px ;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 17px;
    border-color: #a6a7a8;
    background-color: white;
}
.preference2
{
    height:35px;
    width: 145px;
    border-radius: 20px 20px 20px 0px;
    padding-left: 30px ;
    font-weight: bold;
    font-size: 16px;
    margin-left: 17px;
    border-color: #a6a7a8;
    background-color: white;
}
.choix{ 
    border-color:#F2F2F2;
    border-radius: 0px 20px 20px 0px;
    height:60px; 
    background-color: white;
    position: relative;
}
.preference:hover
{
    background-color: rgb(51,75,153);
}
.preference2:hover
{
    background-color: rgb(51,75,153);
}
.icone{
    position: absolute;
    color: #065FFC ;
    font-size: 20px;
    text-align: center;
    border-radius: 50% ;
    background-color: #DEEBFF ;
    width:45px;
    height: 35px;
    padding-top :8px;    
}
.info
{
    background-color: white;
    color: #065FFC ;
}
.foto
{
height: 110px;
width:100%;
border-radius:15px 15px 0px 0px;

}
.photo
{ 
    border: 5px solid;
    border-color:white ;
    border-radius: 15px 15px 0px 0px;
    width: 30%;
    height:180px;
    margin-top: 5px;
    background-color: white;
    margin-right: 5px;
} 
.titre
{
    width: 25%;
    border-radius: 0px 0px 15px 15px;
    font-size: medium;
    font-weight: bold;
}
#section1{
    display: flex;
}
#Hebergements
{
    display: flex;
    flex-wrap: wrap;
    width:98%;
    height:400px;
    background-color:#F2F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
}
main
{
    background-color:#F2F2F2 ;
    border-radius: 10px 10px 10px 10px;
    width:65%;
    margin-right: 50px;
}
.bleu
{   color: blue;
    font-size: x-small;
}
.gris
{
    color: grey;
    font-size: x-small;
}
.matin
{
    width: 110px;
    height: 110px;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 3px;
}
.bleublanc
{
    width: 120px;
    height: 110px;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 3px;
}

.hotes {
    width: 110px;
    height: 110px;
    padding-right: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 3px;
}

#soleil
{
    display: flex ;
    border: 3px white solid;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
    margin-top: 11px;
    width: 260px;
    height: 115px;
}
#chambres,#toutbleu
{
    display: flex ;
    border: 3px white solid;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
    width: 260px;
    height: 115px;
}
aside
{
    background-color:#F2F2F2 ;
    border-radius: 10px 10px 10px 10px;
    width: 25%;
   height: 500px ;
   padding-left: 5px;
}
#popu{
    display: flex;
    justify-content: space-between;
}
.graph
{
    font-size: large;
    margin-right: 25px;
    margin-top: 15px;
}
.comment,.chb,.bb
{
    background-color: white;
}
#group1,#group2
{
 
    width: 180px;
    height: 300px;
}
.caption{
    font-weight: bold;
    font-size: small;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
    padding-left: 15px;
}
figure{
     box-shadow: 3px 3px 3px #e9e4e4 ;
     border-radius: 10%;
     width: 180px;
     height:300px
}
.garde2, .pomeg
{
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 25px;
}
.vieux,.calan
{
    width:180px;
    height: 250px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
    
}
.long
{
    width:180px;
    height: 120px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 15px;
}
.pomègues
{
    width:180px;
    height: 120px;
   border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.frioul,.lagarde
{
    width:180px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#Activités
{
    display: flex;
}
#basdepage
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #e9e4e4; 
    position: absolute;
    right: 0px;
    left: 0px;   
    margin-bottom: 0px;
}
.pied1 li, .pied2 li, .pied3 li 
{
    list-style-type: none;  
    margin: none;
}

