html
{
    font-family:'Raleway';
}
 
h1
{
    font-weight:bolder ;
    font-size: medium;
}
h2
{
    font-size: 18px;
    font-weight: boldER;
    margin-left: 20px;
}
h3
{
    font-size: 18px;
    font-weight: boldER;
    margin-left: 45px; 
}
h4
{
    font-size: 16px;
    font-weight: bold;
    margin-top :0%;
}
p
{ 
     font-size: 14px;   
}
.accueil
{
    margin-left: 40px;
} 
.villenature
{
    margin-left: 40px;
} 
.logo
{
   width: 10%;
}
/* 
.nav-list {
    display: flex;
    padding-left: 20px;
    font-size: 16px;
}   */ 
#conteneur
{
display:flex;
justify-content: space-between;
padding-bottom: 12px;
} 
.nav-list  
{  
    list-style-type : none;  
    padding-left:20px ;
} 
.nav-list a {
text-decoration: none;
padding-left: 20px;
}
.traitbleu
{
    border-top: 2px solid #065FFC;
    color: #065FFC;     
} 
#formulaire
{
    display: flex ;
    height: 70px;
    justify-content:flex-start ;
    width: 81%;
    margin-left: 45px;
}
.iconegeo {
    height: 45px;
    width: 38px; 
    font-size: 25px;
    text-align: justify;
    background-color:#F2F2F2 ;
    border-radius: 15px 0px 0px 15px;
    padding-left: 15px;
    padding-top: 10px;
}
.boutonloupe
{
    display: none;
}
.rechercher
{
    color:white;
    font-size: 16px; 
    height: 55px;
    margin-left: 20px;
    width: 100%; 
    border-radius: 0px 15px 15px 0px ;
    border: 6px #065FFC solid; 
    background-color: #065FFC;
}
.geo
{
    width: 200px;
    background-color: white;
}

.geol{
    border-bottom:6px solid;
    border-top: 3px solid #F2F2F2;
    border-bottom:3px solid #F2F2F2;
    border-left:#F2F2F2;
    height:55px;
    width: 150%;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    padding-right: 25px;
}
/*filtre*/
.conteneurfiltres
{
    display:flex;
    align-items: center;
} 
 .marginfiltre
 { 
    margin-top: 50px;
    margin-bottom: 40px ;
    justify-content: flex-start;
    margin-left: 40px;
    } 
.select
{
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 20px;
}
.conteneureco
{
    display:inline-block;
    border: 3px ;
}
.preference
{
    height: 30px; 
    width: 120px;
    border-radius: 20px 20px 20px 20px;
    padding-left: 33px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    border:  2px solid #F2F2F2 ; 
    background-color: white;
    border-left: none;
    padding-top: 9px;
    
     }
.preference2
{
    height:30px;
    width: 150px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    padding-left: 30px ;
    font-weight: bold;
    font-size: 16px;
    margin-left: 17px;
    border: 2px solid #F2F2F2;
    background-color: white;
    padding-top: 9px;
}
.choix{ 
    border: 2px ;
    border-color:grey;
    border-radius: 0px 20px 20px 0px;
    margin-right: 20px;
    height:40px; 
    background-color: white;
    position: relative;
}
.preference:hover
{
    background-color: rgb(51,75,153);
}
.preference2:hover
{
    background-color: rgb(51,75,153);
}
.icone{
    position: absolute;
    color: #065FFC ;
    font-size: 22px;
    text-align: center;
    border-radius: 50% ;
    background-color: #DEEBFF ;
    width:45px;
    height: 35px;
    padding-top :8px;
    margin-right: 2px;
      }
/*information*/    
.info
{
    margin-left: 45px;
    height: 30px; 
    font-size: 15px;   
}
.iconeinfo
{
   margin-right:12px;
    color: #065FFC;
   font-size: 14px;
    border-radius: 50%;
    border: 2px solid #e9e4e4;   
     padding: 5px 10px 5px 10px; 
}

h5
{
    font-size: 16px;
    font-weight: bold;
   margin-top: -8px;
   margin-left: 10px;
}
.aulit
{
    display:flex;
    flex-direction: column;
}
.foto
{
height: 110px;
width:100%;
border-radius:15px 15px 0px 0px;
overflow: hidden;
object-fit: cover;
margin-bottom: 10px;
}
.dodo
{
    margin-bottom: 0px;
    margin-left: 10px;
}
.photo
{   
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-color:white ;
    border-radius: 15px 15px 15px 15px;
    width: 30%;
    height:180px;
    margin-top: 5px;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 3px 3px 3px #e9e4e4 ;
} 
.etoiles
{
    margin-top: 0px;
    margin-left: 10px;
}
 
#section2 {
    display: flex;
    margin-left: 45px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
} 
#Hebergements
{
    display: flex;
    flex-wrap: wrap;
    width:98%;
    height:450px;
    background-color:#F2F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;   
}
.section3
{
    background-color:#F2F2F2 ;
    border-radius: 10px 10px 10px 10px;
    width:65%;
    margin-right: 50px;
    padding-left:15px;
}
.aulit
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.dodo
{
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
}
 
.bleu
{   color:#065FFC ;
    font-size: x-small;
    margin:0%
}
.gris
{
    color:gray;
    font-size: x-small;
    margin: 0%;
}
/*populaire*/
.mieux
{
    width: 50%;
    height: 111px;
    padding-right: 4px;
    border: 3px white solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
.best
 {
    flex-direction: column;  
    width:46%;
     justify-content: flex-start;
 }
.meilleureschambres
{
    display: flex ;
    justify-content: space-between;
    border: 3px white solid;
    background-color: white;
    border-bottom: 3px white solid;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 30px;
    width: 95%;
    height: 115px;
    margin-left: 5px;
}
aside
{
    background-color:#F2F2F2 ;
    border-radius: 10px 10px 10px 10px;
    width: 28%;
   height: 550px ;
   padding-left: 5px;
}
#popu
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px ;
}
.graph
{
    font-size: large;
    margin-right: 25px;
    margin-top: 15px;

}
.comment 
{
    background-color: white;
    width:40%;
}

#group1,#group2
{
    width: 32%;
    height: 380px;
    margin-right: 30px;
    flex-direction: column;
    justify-content: space-between;
}
.bellevue
{
    border-radius: 10px 10px 10px 10px ;
    height: 380px;
    width:32%;
    margin-right: 30px;
    box-shadow: 3px 3px 3px #e9e4e4 ;
}
.gdefoto
{ 
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:340px;
    width :100%;
}
.moyennevue
{ 
    height:200px;
    width:100%;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    border-radius: 10px 10px 10px 10px ;
}
.moyennevuebis
{ 
    height:200px;
    width:100%;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    border-radius: 10px 10px 10px 10px ;
    margin-top: 20px;
}
.moyfoto
{
    height:160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
   object-fit: cover;
    width:100%; 
}
.petitevue
{
    border-radius: 20px 20px 20px 20px;
    height: 160px;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    width:100%;
}
.petitevuebis
{
    border-radius: 20px 20px 20px 20px;
    height: 160px;
    box-shadow: 3px 3px 3px #e9e4e4 ;
    margin-top: 20px;
    width:100%;
}
.ptefoto
{
    height: 115px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    width:100%;
}
 
.legende
{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px; 
} 
.letop
{
   flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px; 
} 
#Activites
{
    display: flex;
    margin-left: 45px;
    margin-bottom: 35px;
}
#basdepage
{
    display: flex;
    justify-content: space-around;
    background-color:#F2F2F2; 
    position: absolute;
    margin-top: 30px;
    left:0px;
    right: 0px;  
}
.pied li 
{
    list-style-type: none;  
}

